.idea/
*/.texpadtmp
src/__pycache__/
src/WSNET/__pycache__/
*.ipynb_checkpoints/
src/DLIV_chronic_wound_segmentation.egg-info
src/data/wound_images/*.jpg
src/data/wound_masks/*.jpg
src/data/DiabetesFootUlcerChallenge2021/wound_images/*.png
src/data/DiabetesFootUlcerChallenge2021/wound_masks/*.png
/report/doc/.texpadtmp/
src/trained_models/*.h5